{% extends 'base.html.twig' %}

{% block title %}Détails d'une série - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{serie.name}}</h1>

    <container>
        <p>{{ serie.overview }}</p>
        <p>{{ serie.vote }}</p>

        <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
    </container>

    <a href="{{ path('serie_delete', {'id': serie.id}) }}">Supprimer</a>

    <section class="serie-seasons">
        {% for season in serie.seasons %}
            <article>
                <div>
                    <h4>Saison {{ season.number }}</h4>
                    {% if season.overview %}
                        <p>{{ season.overview }}</p>
                    {% endif %}
                </div>
                <img src="{{ asset('images/posters/seasons/' ~ season.poster) }}" alt="{{ season.number }}">

            </article>

        {% endfor %}
    </section>
{% endblock %}