{% extends 'base.html.twig' %}

{% block title %}Détails d'une série - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{serie.name}}</h1>

    <container>
        <p>{{ serie.overview }}</p>
        <p>{{ serie.vote }}</p>

        <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
    </container>
{% endblock %}